<h1>About</h1>
<p>
	<img src="https://cdn.meme.am/cache/instances/folder681/64179681.jpg" width="400px"><br>
	On February 23rd, 2010, Japanese kindergarten teacher Atsuko Sato posted several photos of her rescue-adopted Shiba Inu dog Kabosu to her personal blog.[38] Among the photos included a peculiar shot of Kabosu sitting on a couch while glaring sideways at the camera with raised eyebrows (shown below, right).</b>
</p>