<h1>Sample APP</h1>
<p>
	<img src="https://cdn1.thehunt.com/app/public/system/zine_images/9192888/original/51483b66789ae44fba40a88adf30313d.jpeg" width="400px"><br>
	Home page goes here, lots of important stuff, <b>wow bold stuff, much important such interesting</b>
</p>