
<div class="center jumbotron">
<h1>Sample APP wow!</h1>
<h2>Such important wow h1 tags! <a href="http://www.9gag.com">wow!</a></h2>
<p>
	<img src="https://cdn1.thehunt.com/app/public/system/zine_images/9192888/original/51483b66789ae44fba40a88adf30313d.jpeg" width="400px"><br>
	Home page goes here, lots of important stuff, <b>wow bold stuff, much important such interesting</b>
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("wow.png", alt: "Rails Logo"), 'http://www.rubyonrails.org' %>
